#RewriteBase /

#php_flag magic_quotes_gpc Off

#Bad Request
ErrorDocument 400 /index.php
   
#Authorization Required
ErrorDocument 401 /index.php
   
#Forbidden
ErrorDocument 403 /index.php
   
#Not Found
ErrorDocument 404 /index.php
   
#Internal server Error
#ErrorDocument 500 /index.php

#.htaccess
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .* index.php